*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*targetver.h
.vs/
CMakeFiles/
*.dir/
cmake_install.cmake
CMakeCache.txt
imgui.ini
Debug
Release
build
latex
html
dynamite
external
game
CMakeLists.txt
Doxyfile
glew32.dll
SDL2.dll